/* 

Paleta de cores para implementar no SASS posteriormente

$green-company: #5CBD6F; 
$blue-company: #2F80ED;
$black-company: #000000;
$gray-company: #C4C4C4;
$white-company: #FFFFFF;

*/

.font-share{
  font-family: Share;
}

.green-company{
  color: #5CBD6F;
}

.blue-company{
  color: #2F80ED;
}

.black-company{
  color: #000000;
}

.gray-company{
  color: #C4C4C4;
}

.white-company{
  color: #FFFFFF;
}

header{
  height: 79px;
}

li a{
  color: #5CBD6F;
}

.banner-page-header{
  max-width: 100%;
}

h1{
  font-size: 48px;
  line-height: 64px;
}

.subtitle-anchor{
  font-size: 96px;
}

.margin-top-150{
  margin-top: 150px;
}

.subtitle-inside{
  font-size: 48px;
}

.case-name{
  font-size: 64px;
}

.case-p{
  font-size: 36px;
}

footer{
  height: 205px;
  background:#2F80ED;
}